deprecated/bin/*
deprecated/obj/*
deprecated/depend/*
deprecated/configure/user_configure.mk
src/data_processing/*.out
src/data_processing/*.txt
src/data_processing/NavierStokes/*.txt
src/support_functions/*.out
src/support_functions/*.txt
*~
*.swp
*.msh
!input/testing/integration/mesh/*.msh
*.DS_Store
*octave-workspace
*.db
*.db.json
*.dSYM
deprecated/cases/.lipo
deprecated/cases/*.sh
!deprecated/cases/sample.sh

meshes/Gmsh_files/*
deprecated/cases/logfile
deprecated/cases/errorfile*
deprecated/cases/outputfile*
deprecated/cases/errors/*
deprecated/cases/paraview/*
deprecated/cases/paraview/*.vtu
deprecated/cases/paraview/*.pvtu
deprecated/cases/paraview/*.vtp
deprecated/cases/paraview/*.pvtp
deprecated/cases/results/*
test/*.o
test/*.exe
python/*.txt
deprecated/__pycache__/*
deprecated/python/__pycache__/*
src/processing/__pycache__/*
src/processing/pre/__pycache__/*
cmake/include/*

build/*
build_1D/*
build_2D/*
build_3D/*
