bin/*
obj/*
src/*~
src/*.swp
*~
*.swp

meshes/PeriodicVortex/*
meshes/VortexRiemann/*
meshes/SupersonicVortex/*
meshes/dSphericalBump/*
meshes/GaussianBump/*
meshes/PolynomialBump/*
cases/*.swp
cases/logfile
cases/errorfile*
cases/outputfile*
cases/paraview/*.vtu
cases/paraview/*.pvtu
test/*.o
test/*.exe
