bin/*
obj/*
depend/*
src/*~
src/*.swp
src/*.txt
src/data_processing/*.swp
src/data_processing/*.out
src/data_processing/*.txt
src/support_functions/*.swp
src/support_functions/*.out
src/support_functions/*.txt
*~
*.swp
*.msh
*.DS_Store
*octave-workspace
*.db
*.db.json
*.dSYM

meshes/Poisson/*
meshes/PeriodicVortex/*
meshes/VortexRiemann/*
meshes/SupersonicVortex/*
meshes/dSphericalBump/*
meshes/GaussianBump/*
meshes/PolynomialBump/*
meshes/Test/*
cases/*.swp
cases/logfile
cases/errorfile*
cases/outputfile*
cases/errors/*
cases/paraview/*
cases/paraview/*.vtu
cases/paraview/*.pvtu
cases/paraview/*.vtp
cases/paraview/*.pvtp
cases/results/*
test/*.o
test/*.exe
python/*.txt
*/__pycache__/*
